@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bg {
    position: relative;
}

.bg:before {
    /*background-image: url("josiah-ingels-X79v5N3O4yA-unsplash.jpg");*/
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    height: 975px;
    /*width: 1920px;*/
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75
}

.box {
    background: linear-gradient(#2c3e50, #bdc3c7);
    position: absolute;
    height: 600px;
    width: 320px;
    left: 804px;
    top: 223px;
    border-radius: 10px;
}


#details .field {
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    position: absolute;
    left: 9px;
    top: 3px;
    padding: 2px;
    border-radius: 9px;
    width: 250px;
    color: #5cd2ff;
}

#details #user {
    top: 29px;
    color: white;
}

#details #pass {
    top: 90px;
    color: white;
}

#details #numb {
    top: 150px;
    color: white;
}

#details #email {
    top: 215px;
    color: white;
}

#details #luser {
    top: 2px;
}

#details #lpass {
    top: 63px;
}

#details #lnumb {
    top: 123px;
}

#details #lemail {
    top: 189px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    position: absolute;
    left: 9px;
    top: 258px;
    color: #5cd2ff;
}

#dropdown #game {
    position: absolute;
    left: 9px;
    top: 290px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    border-radius: 9px;
}

#submit {
    position: absolute;
    top: 545px;
    left: 125px;
    
}

#submit button {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgreen;
}

#submit button:hover {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    border-radius: 5px;
    /* padding: 2px; */
    background-color: lightgray;
}

#eye {
    position: absolute;
    top: 97px;
    left: 240px;
}