@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*.bg {
    background-image: url("josiah-ingels-X79v5N3O4yA-unsplash.jpg");
    position: absolute;
    width: 300px;
    height: 900px;
    top: 0;
    right: 0;
}*/

/*.bg:before {
    background-image: url("josiah-ingels-X79v5N3O4yA-unsplash.jpg");
}*/

.background {
    background-image: url("josiah-ingels-X79v5N3O4yA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 950px;
    height: 975px;
    object-fit: cover;
    object-position: 100% 0;
}

.box {
    /*background: linear-gradient(#2c3e50, #bdc3c7);*/
    position: absolute;
    width: 334px;
    height: 631px;
    left: 350px;
    top: 190px;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 5px 10px 18px 10px #888888;
    background-color: #90cf6b;
}


#details .field {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    position: absolute;
    left: 12px;
    top: 3px;
    padding: 2px;
    border-radius: 9px;
    width: 272px;
    /*color: #5cd2ff;*/
}

#details #user {
    top: 34px;
    color: black;
    font-size: 15px;
}

#details #pass {
    top: 95px;
    color: black;
    font-size: 15px;
}

#details #numb {
    top: 155px;
    color: black;
    font-size: 15px;
}

#details #email {
    top: 220px;
    color: black;
    font-size: 15px;
}

#details #luser {
    top: 2px;
}

#details #lpass {
    top: 63px;
}

#details #lnumb {
    top: 123px;
}

#details #lemail {
    top: 189px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    position: absolute;
    left: 12px;
    top: 258px;
    /*color: #5cd2ff;*/
}

#dropdown #game {
    position: absolute;
    left: 12px;
    top: 290px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    border-radius: 9px;
}

#submit {
    position: absolute;
    top: 567px;
    left: 117px;
    
}

#submit button {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    border-radius: 5px;
    padding: 5px;
    background-color: #041107;
    transition: ease-out 0.2s;
    cursor: pointer;
    color: white;
}

#submit button:hover {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    border-radius: 5px;
    /* padding: 2px; */
    background-color: lightgray;
    color: black;
}

.btn-style {
    display: block;
    width: 100px;
}

#eye {
    position: absolute;
    top: 100px;
    left: 266px;
}