@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

.heading {
    font-size: 70px;
    font-family: 'Source Sans Pro', serif;
    position: absolute;
    left: 650px;
    top: 50px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #90cf6b;
}

.details {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    position: absolute;
    left: 700px;
    top: 200px;
}

.selections {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    position: absolute;
    left: 700px;
}

#s1 {
    top: 230px;
}

#s2 {
    top: 250px;
}

#s3 {
    top: 270px;
}

#s4 {
    top: 290px;
}

.check {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    position: absolute;
    left: 700px;
    top: 320px;;
}

.check1 {
    font-family: 'Bree Serif', serif;
    display: flex;
    /* justify-content: center; */
    position: relative;
    align-content: flex-end;
    margin-left: 927px;
    top: 186px;
}

.de-form {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 160px;
    left: 200px;
    font-size: 70px;
    font-weight: bold;
    opacity: 0.9;
    color: white;
}

.de-form1 {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 550px;
    left: 200px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.9;
    color: white;
}

.get-started {
    position: absolute;
    font-family: 'Bree Serif', sans-serif;
    font-size: 20px;
    border: 2px solid white;
    background-color: #4d5365;
    border-radius: 30px;
    padding: 8px;
    top: 650px;
    left: 206px;
    cursor: pointer;
    transition: ease-out 0.2s;
}

.get-started:hover {
    border-radius: 6px;
}

.get-started a {
    color: white;
    text-decoration: none;
}

/*.get-started a:hover {
    color: black;
}*/

.bgg {
    position: relative;
}

.bgg:before {
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    height: 975px;
    /*width: 1920px;*/
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75
}